<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://s3-alpha-sig.figma.com/img/bc92/7635/2843740c0f24f76f782cdbf4d4bb821e?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mKBgQd5fC3BtAh4XDe9PbnKHvRBC-Qtf8tEt4TAmMDzbRGsJPzcmqz~YlUdwP~xb5ftWqsL-PSV3tKebo2hcWNIb3UVHs0j0mTVM1SEVmpsl2IpjLwQX9gRbFLa0y9qdUYbAOU97BcDS~rUuVjrqYxmzGTBlkfY2RY0hIJlyA7ywWYTavep1tVbaV6SbmcdYxBj1FIxuLki92fGtQICbOMCHQtKrCxi7sNpoA2iai~7DKDIbqOFnNV-in-z0d9O~pRlbeW~ngM30o2PD4pMZywUP32gz8i~z0imPwyuue9K7O9s8~GppcZH4Vt8otVzP~hllM0oJFhbnGVhIPOKpWA__" alt="Logo" class="rounded-circle" style="width: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Accueil', root_path,  class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'À propos', about_path, class: 'nav-link' %>
          </li>
        </ul>
        <div class="search-bar d-flex align-items-center">
          <%= form_with url: search_path, method: :get, local: true, class: "form-inline" do %>
            <div class="input-group">
              <%= text_field_tag :query, params[:query], placeholder: "Que recherchez-vous ?", class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "Recherche", class: "btn", style: "border: 1px solid orange; color: orange; background-color: white;" %>
              </div>
            </div>
          <% end %>
        </div>


        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <%= link_to wishlist_path, class: 'nav-link' do %>
          <i class="fas fa-heart"></i>
          Favorites
        <% end %>
      </li>
          <li class="nav-item">
            <%= link_to cart_path, class: 'nav-link' do %>
              <i class="fas fa-shopping-cart"></i>
              Panier
            <% end %>
          </li>
         <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to 'Mon Profil',  user_path(current_user), class: 'dropdown-item' %>
                <%= link_to 'Mes commandes', orders_path, class: 'dropdown-item' %>
                <%= link_to 'Mes annulations', cancellations_path, class: 'dropdown-item' %>
                <%= link_to 'Mes avis', reviews_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to "Se déconnecter", destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'S\'inscrire', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>