<header>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark" style="background-color: #eeeadf;">
    <a class="navbar-brand" href="#">
      <img src="<%= asset_path("logo.png") %>" alt="Logo" style="width: 100px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Accueil', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tous nos produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @categories.each do |category| %>
              <li><%= link_to category.name, category_path(category), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Voir les événements', events_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Carte', locations_path, class: 'nav-link' %>
        </li>
      </ul>
      <form class="d-flex" action="<%= search_path %>" method="get">
        <input class="form-control me-2" type="search" placeholder="Que recherchez-vous ?" aria-label="Search" name="query" value="<%= params[:query] %>">
        <button class="btn btn-outline-orange" type="submit" style="color: orange; border-color: orange;">Recherche</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to wishlist_path, class: 'nav-link' do %>
            <i class="fas fa-heart"></i> Favorites
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cart_path, class: 'nav-link' do %>
            <%= render 'shared/cart_count' %>
            <i class="fas fa-shopping-cart"></i> Panier
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
              <li><%= link_to 'Mon Profil', user_path(current_user), class: 'dropdown-item' %></li>
              <li><%= link_to 'Mes commandes', orders_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Mes avis', reviews_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'S\'inscrire', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <button id="color-switch" class="btn btn-secondary btn-sm">
        <i class="fas fa-glasses"></i>
      </button>
    </div>
  </nav>
</header>
