 <% content_for :title, "Page d'accueil" %>
  <% content_for :meta_description, "Description de la page d'accueil" %>
  <div class="container mt-5">
  <h1 class="mb-5" style="color: #E76F51;">
    <span style="color: #E76F51; vertical-align: middle;">&#9632;</span>
    Catégories
  </h1>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-3 col-sm-4 mb-4">
        <div class="card h-100 text-center text-dark border-0" >
          <div class="card-body d-flex flex-column justify-content-center text-dark">
            <%= link_to category_path(category), class: 'stretched-link text-dark' do %>
              <div class="icon mb-2">
                <i class="fas fa-<%= category.icon %> fa-3x" style="color: #2A9D8F;"></i>
              </div>
              <div class="category-name">
                <h5 class="card-title" style="color: #264653;"><%= category.name %></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="container mt-5">
    <h2 class="mb-5" style="color: #E76F51;">
      <span style="color: #E76F51; vertical-align: middle;">&#9632;</span>
      Prochains événements
    </h2>
    <div class="row">
      <% if @upcoming_events.present? %>
        <% @upcoming_events.each do |event| %>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 shadow-sm border-0">
              <img src="<%= event.image_url %>" class="card-img-top" alt="<%= event.name %>">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title " style="color: #F4A261;"><%= event.name %></h5>
                <p class="card-text text-muted"><%= event.description.truncate(100) %></p>
                <div class="mb-2">
                  <span class="badge" style="background-color: #E9C46A;"><i class="fas fa-calendar-alt"></i> <%= event.start.strftime("%d %b %Y") %> - <%= event.end.strftime("%d %b %Y") %></span>
                  <span class="badge" style="background-color: #2A9D8F;"><i class="fas fa-map-marker-alt"></i> <%= event.city.name %></span>
                </div>
                <p class="card-text"><strong>Prix:</strong> <%= number_to_currency(event.price, unit: "€") %></p>
                <%= link_to 'Voir Détails', event_path(event), class: 'btn btn-outline-primary mt-auto' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucun événement à venir.</p>
      <% end %>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-5" style="color: #E76F51;">
      <span style="color: #E76F51; vertical-align: middle;">&#9632;</span>
      Explorez nos produits
    </h2>
    <div class="row">
      <% @products.first(8).each do |product| %>
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div class="card h-100 d-flex flex-column shadow-lg border-0">
            <div class="position-absolute top-0 end-0 mt-2 me-2 d-flex flex-column">
              <%= link_to like_product_path(product), method: :post, remote: true do %>
                <i class="fa fa-heart text-danger mb-1"></i>
                <span class="badge bg-danger"><%= product.likes %></span>
              <% end %>
             
            </div>
            
            <% if product.image.present? %>
              <%= image_tag product.image, class: 'card-img-top rounded' %>
            <% end %>

            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-dark"><%= product.name %></h5>
              <p class="card-text text-muted"><%= truncate(product.description, length: 100) %></p>
              <p class="card-text">
                <% (1..5).each do |i| %>
                  <% if product.rating >= i %>
                    <i class="fa fa-star text-warning"></i>
                  <% elsif product.rating >= (i - 0.5) %>
                    <i class="fa fa-star-half-alt text-warning"></i>
                  <% else %>
                    <i class="fa fa-star text-dark"></i>
                  <% end %>
                <% end %>
                (<%= product.rating %> / 5)
              </p>
              <%= link_to 'Acheter', product_path(product), class: 'btn btn-outline-dark btn-sm mt-auto' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class="container mt-5">
  <h2 class="mb-5" style="color: #E76F51;">
    <span style="color: #E76F51; vertical-align: middle;">&#9632;</span> <!-- Carré orange -->
    Nouveautés
  </h2>
  <% if @latest_products.present? %>
    <div id="latestProductsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5500">
      <div class="carousel-inner">
        <% @latest_products.each_slice(4).with_index do |product_group, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">
              <% product_group.each do |product| %>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="card h-100 d-flex flex-column">
                    <%= image_tag product.image, class: 'card-img-top' %>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title text-center"><%= product.name %></h5>
                      <p class="card-text text-center"><%= truncate(product.description, length: 100) %></p>
                      <%= link_to 'Voir Détails', product_path(product), class: 'btn btn-outline-primary mt-auto' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#latestProductsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#latestProductsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <p>Aucun produit à afficher.</p>
  <% end %>
</div>
