<div class="container mt-5">
  <h1 class="mb-4" style="color: #D65830;">
    <span style="color: #D65830; vertical-align: middle;">&#9632;</span> 
    <%= action_name.capitalize %> Événement
  </h1>
  <div class="card p-4 shadow-sm">
    <%= form_with(model: @event, local: true) do |form| %>
      <div class="row mb-3">
        <div class="col-md-6">
          <%= form.label :name, "Nom de l'événement", class: "form-label", style: "color: #D65830;" %>
          <%= form.text_field :name, class: "form-control border-primary" %>
        </div>
        <div class="col-md-6">
          <%= form.label :price, "Prix", class: "form-label", style: "color: #D65830;" %>
          <%= form.number_field :price, class: "form-control border-primary" %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :description, "Description", class: "form-label", style: "color: #D65830;" %>
        <%= form.text_area :description, class: "form-control border-primary", rows: 4 %>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :start, class: "form-label", style: "color: #D65830;" do %>
              <i class="fas fa-calendar-alt"></i> Date de début
            <% end %>
            <%= form.text_field :start, class: "form-control datepicker border-primary" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :end, class: "form-label", style: "color: #D65830;" do %>
              <i class="fas fa-calendar-alt"></i> Date de fin
            <% end %>
            <%= form.text_field :end, class: "form-control datepicker border-primary" %>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :city_id, "Ville", class: "form-label", style: "color: #D65830;" %>
        <%= form.collection_select :city_id, City.all, :id, :name, { prompt: "Sélectionnez une ville" }, class: "form-control border-primary" %>
      </div>

      <div class="d-grid">
        <%= form.submit "Sauvegarder l'événement", class: "btn btn-danger" %>
      </div>
    <% end %>
    <div class="mt-3">
      <%= link_to 'Retour', events_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
