<!-- app/views/carts/show.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4" style="color: #D65830;">Votre Panier</h1>
  <% if @cart.cart_items.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Sous-total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= number_to_currency(item.product.price) %></td>
              <td>
                <%= form_for [@cart, item], html: { method: :put } do |f| %>
                  <%= f.number_field :quantity, value: item.quantity, min: 1, class: 'form-control' %>
                  <%= f.submit 'Mettre à jour', class: 'btn btn-primary btn-sm mt-1', style: 'background-color: #D65830; border-color: #D65830;', title: 'Mettre à jour' %>
                  <% end %>
              </td>
              <td><%= number_to_currency(item.product.price * item.quantity) %></td>
              <td>
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, [@cart, item], method: :delete, class: 'btn btn-danger btn-sm', style: 'background-color: #D65830; border-color: #D65830;', data: { confirm: 'Êtes-vous sûr ?' }, title: 'Supprimer' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="mt-4" style="color: #D65830;">Total : <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></h3>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-end">
        <%= button_to "Passer commande", checkout_create_path(total: @cart.total, event_id: @cart.id), class: "btn btn-primary", style: 'background-color: #D65830; border-color: #D65830;', data: { turbo: false } %>
      </div>
    </div>
  <% else %>
    <p class="lead" style="color: #D65830;">Votre panier est vide.</p>
    <%= link_to 'Voir les produits', products_path, class: 'btn btn-primary', style: 'background-color: #D65830; border-color: #D65830;' %>
  <% end %>
</div>
