 <div class="container mt-5">
  <h1 class="mb-5" style="color: #E76F51;">
    <span style="color: #E76F51; vertical-align: middle;">&#9632;</span> <!-- Carré orange -->
    Catégories
  </h1>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-3 col-sm-4 mb-4">
        <div class="card h-100 text-center text-dark border-0" >
          <div class="card-body d-flex flex-column justify-content-center text-dark">
            <%= link_to category_path(category), class: 'stretched-link text-dark' do %>
              <div class="icon mb-2">
                <i class="fas fa-<%= category.icon %> fa-3x" style="color: #2A9D8F;"></i>
              </div>
              <div class="category-name">
                <h5 class="card-title" style="color: #264653;"><%= category.name %></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h2 class="mb-5" style="color: #D65830; font-size: 1.5rem; text-align: left; margin-left: 20px;">
    <span class="mr-0" style="color: #D65830; vertical-align: middle;">&#9632;</span> <!-- Carré orange -->
    Nos Produits
</h2>
<div class="row justify-content-center">
    <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6 col-6 mb-4">
            <div class="card position-relative" style="width: 100%; height: auto;">
                <div class="position-absolute top-0 end-0 mt-2 me-2 d-flex flex-column">
                    <i class="fa fa-heart mb-1" style="color: #E76F51;"></i> <!-- Icône de cœur -->
                    <i class="fa fa-eye" style="color: #2A9D8F;"></i> <!-- Icône d'œil -->
                </div>
                <%= image_tag product.image, class: 'card-img-top', alt: product.name, style: "width: 100%; height: auto;" %>
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= truncate(product.description, length: 100) %></p>
                    <p class="card-text">★★★★★ (5 étoiles)</p>
                    <%= link_to 'Acheter', product_path(product), class: 'btn btn-primary btn-sm', style: 'background-color: #2A9D8F; border-color: #2A9D8F;' %>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @page == 0 %>">
      <%= link_to 'Previous', products_path(page: @page - 1), class: 'page-link', style: "background-color: #264653; color: white; border-color: #264653;" %>
    </li>
    <% (0...@total_pages).each do |i| %>
      <li class="page-item <%= 'active' if @page == i %>">
        <%= link_to i + 1, products_path(page: i), class: 'page-link', style: "background-color: #{ @page == i ? '#E76F51' : '#2A9D8F' }; color: white; border-color: #{ @page == i ? '#E76F51' : '#2A9D8F' };" %>
      </li>
    <% end %>
    <li class="page-item <%= 'disabled' if @page >= @total_pages - 1 %>">
      <%= link_to 'Next', products_path(page: @page + 1), class: 'page-link', style: "background-color: #264653; color: white; border-color: #264653;" %>
    </li>
  </ul>
</div>

