<div class="container mt-5">
  <!-- Navigation -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to "Accueil", root_path, class: "nav-link breadcrumb-item" %>
      <li class="breadcrumb-item d-inline">
        <%= link_to "Produits", products_path, class: "nav-link" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-6">
      <!-- Miniatures -->
      <div class="row">
        <div class="col-md-3">
            <img src="<%= @product.image %>" class="img-fluid rounded mb-2" alt="Miniature ">
        </div>
        <div class="col-md-9">
          <!-- Image du produit -->
          <img src="<%= @product.image %>" class="img-fluid rounded" alt="Image du produit">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Titre du produit -->
      <h1><%= @product.name %></h1>
      <!-- Étoiles pour représenter la note -->
      <div class="rating">
        <% 5.times do |i| %>
          <span class="fa fa-star <%= 'checked' if i < @product.rating %>"></span>
        <% end %>
      </div>
      <!-- Description du produit -->
      <p><%= @product.description %></p>
      <!-- Prix du produit -->
      <p><strong>Prix: $<%= @product.price %></strong></p>
      <!-- Sélection du nombre de produits -->
      <div class="mt-4">
        <label for="product-quantity">Choisissez le nombre de produits:</label>
        <div class="input-group" style="width: auto; display: flex; align-items: center;">
          <button class="btn btn-outline-secondary" type="button" id="button-minus" style="background-color: grey; color: white;">-</button>
          <input type="number" id="product-quantity" value="1" min="1" max="5" style="width: 60px; text-align: center; margin: 0 5px;">
          <button class="btn btn-outline-secondary" type="button" id="button-plus" style="background-color: #D65830; color: white;">+</button>
        </div>
      </div>

      <script>
        document.getElementById('button-minus').addEventListener('click', function () {
          var input = document.getElementById('product-quantity');
          var value = parseInt(input.value, 10);
          if (value > 1) {
            input.value = value - 1;
          }
        });

        document.getElementById('button-plus').addEventListener('click', function () {
          var input = document.getElementById('product-quantity');
          var value = parseInt(input.value, 10);
          if (value < 5) {
            input.value = value + 1;
          }
        });

        function addToCart(productId) {
          var quantity = document.getElementById('product-quantity').value;
          var form = document.createElement('form');
          form.method = 'POST';
          form.action = '<%= cart_cart_items_path %>';
          form.innerHTML = `<input name="product_id" value="${productId}">
                            <input name="quantity" value="${quantity}">
                            <input name="_method" value="post">
                            <input name="authenticity_token" value="<%= form_authenticity_token %>">`;
          document.body.appendChild(form);
          form.submit();
        }
      </script>

      <% if user_signed_in? %>
        <!-- Bouton d'ajout au panier -->
        <button onclick="addToCart(<%= @product.id %>)" class="btn btn-primary" style="background-color: #2A9D8F; border-color: #2A9D8F;">Ajouter au panier</button>
        <%= button_to 'Ajouter à la Wishlist', wishlist_items_path(product_id: @product.id), method: :post, class: 'btn btn-secondary' %>
      <% else %>
        <p>Veuillez <%= link_to 'vous connecter', new_user_session_path %> ou <%= link_to 'vous inscrire', new_user_registration_path %> pour ajouter des articles au panier.</p>
      <% end %>
    </div>
  </div>

  <!-- Cadre de livraison gratuite et retour -->
  <div class="mr-3 border rounded p-3 shadow" style="max-width: 300px;">
    <h5 class="mb-3">Livraison gratuite</h5>
    <p><i class="fa fa-truck me-2"></i> Entrer votre code postal pour voir les disponibilités</p>
    <hr>
    <p class="mb-3"><i class="fa fa-undo me-2"></i> Retourner un article</p>
    <p>Free 30 Days Delivery Returns. Details</p>
  </div>

  <!-- Section de promotion -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        Ne manquez pas notre promotion spéciale sur ce produit! Réduction de 20% pour les 100 premières commandes. <a href="#" class="alert-link">Achetez maintenant</a>.
      </div>
    </div>
  </div>

  <!-- Titre "Produits similaires" -->
  <h3 class="mb-4" style="color: #D65830;">Produits similaires</h3>

<!-- Liste de produits similaires -->
  <div class="row mt-5">
    <% @similar_products.each do |similar_product| %>
      <div class="col-md-3">
        <div class="card position-relative">
          <%= image_tag similar_product.image, class: 'card-img-top', alt: similar_product.name %>
          <div class="position-absolute top-0 end-0 m-2">
            <i class="fa fa-heart d-block mb-2" style="color: #E76F51;"></i> <!-- Icône de cœur -->
            <i class="fa fa-eye d-block" style="color: #2A9D8F;"></i> <!-- Icône d'œil -->
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= similar_product.name %></h5>
            <p class="card-text"><%= truncate(similar_product.description, length: 100) %></p>
            <%= link_to 'Voir le produit', product_path(similar_product), class: 'btn btn-primary', style: 'background-color: #2A9D8F; border-color: #2A9D8F;' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
