<%= form_with(model: [ @product, @review ], local: true) do |f| %>
  <div class="form-group mb-3">
    <%= f.label :rating, 'Note', class: 'form-label' %>
    <div class="star-rating">
      <% (5).downto(1).each do |star| %>
        <%= f.radio_button :rating, star, id: "star#{star}" %>
        <label for="star<%= star %>">
          <i class="fas fa-star"></i>
        </label>
      <% end %>
    </div>
  </div>
  <div class="form-group mb-3">
    <%= f.label :comment, 'Commentaire', class: 'form-label' %>
    <%= f.text_area :comment, class: 'form-control', rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.submit 'Ajouter un avis', class: 'btn btn-block text-white', style: 'background-color: #2A9D8F;' %>
  </div>
<% end %>
